*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #111111;
    background-color: #ffffff;
}

.container {
    width: 100%;
    padding: 0 97px;
}

/* css for header */
.header {
    width: 1440px;
    height: 152px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 4px 0px 10px rgba(47, 122, 249, 0.1);
    display: flex;
    align-items: center;
}

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo img {
    width: 158px;
    height: 76px;
}

.menu {
    width: 604px;
    height: 37px;
}

.menu ul {
    list-style: none;
    height: 37px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.menu ul li {
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.menu ul li a {
    height: 17px;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s ease, transform 0.15s ease;
}

.menu ul li a.active,
.menu ul li a:hover {
    background: rgba(255, 180, 0, 1);
    border-radius: 5px;
    color: #000;
    padding: 10px 10px;
}

#main {
    background: rgba(240, 240, 247, 1);
}

/* css for hero */

.hero {
    height: 630px;
    width: 100%;
    padding: 110px 0;
    position: relative;
    background: rgba(255, 255, 255, 1);
}

.hero_inner {
    width: 1440px;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero_content {
    height: 405px;
    width: 720px;
    position: absolute;
    top: 125px;
}

.hero-title {
    height: 160px;
    width: 721px;
    font-size: 48px;
    margin: 0;
    line-height: 123.6%;
}

.hero-title-line {
    display: block;
}

.highlight {
    color: rgba(255, 180, 0, 1);
}

.hero-subtitle {
    width: 600px;
    height: 119px;
    margin-top: 24px;
    color: rgba(118, 118, 118, 1);
    font-size: 16px;
}

.hero_button {
    height: 68px;
    width: 218px;
}

.hire_btn {
    height: 51px;
    width: 154px;
    background: rgba(255, 180, 0, 1);
    border: none;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

}

.hire_btn h1 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.illustration {
    width: 808px;
    height: 550px;
    position: absolute;
    top: 80px;
    left: 631px;
    z-index: 1;
}

.stars {
    position: absolute;
    z-index: 90;
}

.triangle {
    top: 576px;
    left: 1314.68px;
}

.rect1 {
    left: 533.75px;
    top: 449px;
}

.rect2 {
    left: 1278.16px;
    top: 94px;
}

.circle1 {
    left: 57.39px;
    top: 40px;
}

.circle2 {
    left: 796.42px;
    top: 512.50px;
}

.circle3 {
    left: 125.89px;
    top: 569px;
}

.circle4 {
    left: 742.39px;
    top: 70px;
}

/* css for projects */

.projects {
    height: 1055px;
    width: 1244px;
    margin: 60px 97px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_section-header {
    width: 654px;
    height: 100px;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
}
.project_section-header .section-title{
    height: 41px;
    font-size: 32px;
    margin: 0;
}
.project_section-header .section-subtitle{
    height: 47px;
    font-size: 15px;
    margin-top: 12px 0;
    color: rgba(118, 118, 118, 1);
}


.project-grid {
    margin-top: 33px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.card {
    height: 432px;
    width: 385px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background: white;
    border: none;
    border-radius: 1.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .card:hover {
    transform: translateY(-4px);
} */

.card_image img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card__content {
    height: 176px;
    width: 385px;
    padding: 16px 16px 16px 20px;
}
.card_content_text{
    height: 65px;
    width: 353px;
    display: flex;
    flex-direction: column;
}

.project_title {
    font-size: 16px;
    font-weight: 600;
    line-height: 123%;
    margin: 0;
    margin-bottom: 9px;
}

.project_desc {
    font-size: 14px;
    margin: 0;
    color: rgba(118, 118, 118, 1);
    line-height: 125%;
}

.tags {
    height: 60px;
    width: 353px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    gap: 10px;
}

.tag {
    height: 25.28px;
    background: #eee;
    padding: 0 14px;
    border-radius: 50px;
    font-size: 13px;
    line-height: 24px;
}



/* css  */