* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 96px;
    box-sizing: border-box;
}

.logo img {
    width: 158px;
    height: 76px;
}

.cta_links {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 700px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.cta_links a {
    color: black;
    text-decoration: none;
}

.nav_link {
    font-size: 16px;
    font-weight: 500;
}

.nav_link.active {
    padding: 14px 10px;
    width: 68px;
    text-align: center;
    background-color: #ffb400;
    border: 0px solid #ffb400;
    border-radius: 5px;
}

/* HERO PAGE STARTS */
.hero_page {
    position: relative;
    width: 100%;
    min-height: 626px;
    /* background-color: #ffffff; */
}

.hero_content {
    display: flex;
}

.hero_content_left {
    width: 45%;
    margin-left: 98px;
    margin-top: 14px;
    line-height: 1.4;
}

.hero_content_left h1 {
    font-size: 45px;
    font-weight: 800;
    margin-top: 126px;
    color: #1a1a1a;
}

.hero_content_left h1 span {
    color: #ffb400;
}

.hero_content_left p {
    margin-top: 35px;
    color: #767676;
    font-size: 16px;
    max-width: 650px;
    line-height: 1.7;
}

.hirebtn {
    margin-top: 40px;
    padding: 14px 32px;
    background-color: #ffb400;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

.hero_content_right img {
    height: 550px;
    width: 808px;
    margin-top: 80px;
}

.shape_shape_circle1 {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #efb730;
    border-radius: 50%;
    top: 20px;
    left: 96px;
    z-index: 10;
}

.shape_shape_circle2 {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #37ff32;
    border-radius: 50%;
    top: 571px;
    left: 126px;
    z-index: 10;
}

.shape_shape_circle3 {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #37ff32;
    border-radius: 50%;
    top: 70px;
    left: 742px;
    z-index: 10;
}

.shape_shape_rectangle1 {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #336cff;
    border-radius: 3px;
    transform: rotate(25deg);
    top: 449px;
    left: 534px;
}

.shape_shape_rectangle2 {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #ffc233;
    border-radius: 3px;
    transform: rotate(25deg);
    top: 94px;
    left: 1285px;
}

/* Projec page starts here */
.main {
    background-color: #f0f0f5;
    padding-left: 97px;
    padding-right: 97px;
}

.projectheading {
    text-align: center;
    font-size: 32px;
    padding-top: 70px;
}

.des {
    width: 654px;
    height: 48px;
    padding-left: 314px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 52px;
    font-size: 15px;
    line-height: 1.5;
    color: #767676;
}

.projectgrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    height: auto;
    box-sizing: border-box;
}

.projectgrid img {
    height: 256px;
    object-fit: fill;
}

.card1 {
    background-color: white;
    border-radius: 14px;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    width: 380px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.content {
    min-height: 60px;
    width: 337px;
    padding-top: 25px;
}

.content h2 {
    padding-left: 16px;
    font-size: 20px;
    font-weight: 400;
}

.content p {
    padding-top: 4px;
    padding-left: 16px;
    text-align: start;
    color: #767676;
    line-height: 1.6;
    font-size: 15px;
}

.card-tags {
    width: 337px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    padding: 10px 16px;
}

.tag {
    padding: 4px 12px;
    background: #f2f2f2;
    border-radius: 14px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
}

.contact_container {
    padding: 50px 0;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    /* background:  */
}

/* LEFT SIDE - FORM */
.contact_wrapper-left {
    display: flex;
    flex-direction: column;
    width: 846px;
    height: 760px;
    gap: 34px;
    overflow: hidden;
}

.contact_title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.contact_wrapper-left form {
    background: white;
    padding: 45px 50px;
    /* border-radius: 8px; */
}

.form_group {
    margin-bottom: 14px;
}

.form_group label {
    color: #767676;
    font-weight: 400;
    font-size: 18px;
}
.form_group input{
    width: 100%;
    height: 50px;
    background-color: #f0f0f6;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 8px;
    font-size: 18px;
    margin-top: 8px;
}

.form_group textarea {
    width: 100%;
    height: 176px;
    background-color: #f0f0f6;
    border: none;
    outline: none;
    border-radius: 5px;
    resize: none;
    padding: 10px 8px;
    font-size: 18px;
    margin-top: 8px;
}

.contact_wrapper-left form button {
    background-color: #ffb400;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: 151px;
    height: 48px;
}

/* RIGHT SIDE - CONTACT INFO */
.contact_wrapper-right {
    width: 373px;
    height: 760px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    /* background: blue; */
}
.info-cards{
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* background: #000; */
    height: 674px;
}

.info_card {
    width: 372px;
    height: 211px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info_icon img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.info_card_details {    
    width: 100%;
    display: flex;
    flex-direction: column;
}
.headin{
    font-size: 18px;
    color: #767676;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
}
.headin span{
    margin: 5px 0;
}
.first{
    font-weight: 600;
}
/* .pfimage{
    width: 970px;
    height: 144px;
    background: greenyellow;
    margin:0 150px;
  
} */
.pfimage {
    height: 144px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logodown{
    width: 158px;
    height: 76px;
    margin-top: 45px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.rating{
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 177px;
    height: 230px;
}
.details p{
    color: #767676;
    font-size: 12px;
}
.quick_link{
    display: flex;
    flex-direction: column;
     width: 177px;
    height: 230px;
    gap: 30px;
    /* background: blueviolet; */
}
.quick_link ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 14px;  
}
.quick_link ul a{
      text-decoration: none;
    color: black;
}
.portfolio{
     display: flex;
    flex-direction: column;
     width: 177px;
    height: 230px;
    gap: 30px;
}
.portfolio ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
}
.portfolio ul a{
    text-decoration: none;
    color: black;
}
.connect{
     width: 177px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.connect ul{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}
.copyright{
    text-align: center;
    margin-top: 30px;
    color: #767676;
    font-size: 12px;
    padding-bottom: 20px;
    font-weight:500;
}